{% extends "base.html" %}

{% block konten%}

<div class="jumbotron">
    <h3>Pengaduan</h3>
    <!--form pengaduan-->
<form method="POST">
  {{form.hidden_tag()}}
    <div class="form-group">
        {{form.subjek.label(class="form-control-label")}}
        {% if form.subjek.errors %}
        {{form.subjek(class="form-control is-invalid")}}

        <div class="invalid-feedback">
          {% for error in form.subjek.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
  {%else%}
        {{form.subjek(class="form-control")}}

  {%endif%}
</div>


<form method="POST">
  {{form.hidden_tag()}}
    <div class="form-group">
        {{form.kategori.label(class="form-control-label")}}
        {% if form.kategori.errors %}
        {{form.kategori(class="form-control is-invalid")}}

        <div class="invalid-feedback">
          {% for error in form.kategori.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
  {%else%}
        {{form.kategori(class="form-control")}}

  {%endif%}
</div>

<form method="POST">
  {{form.hidden_tag()}}
    <div class="form-group">
        {{form.detail_pengaduan.label(class="form-control-label")}}
        {% if form.detail_pengaduan.errors %}
        {{form.detail_pengaduan(class="form-control is-invalid")}}

        <div class="invalid-feedback">
          {% for error in form.detail_pengaduan.errors %}
          <span>{{error}}</span>
          {% endfor %}
        </div>
  {%else%}
        {{form.detail_pengaduan(class="form-control")}}

  {%endif%}
</div>

  
<div class="form-group">
        {{form.submit(class="btn btn-primary")}}
</div>

  </form>
    <hr class="my-4">
    <h4>Data Pengaduan</h4>
</div>

<table class="table table-responsive table-hover table-Success">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tgl</th>
      <th scope="col">Subjek</th>
      <th scope="col">Kategori</th>
      <th scope="col">Detail Pengaduan</th>
      <th scope="col">Edit</th>
      <th scope="col">Hapus</th>
    </tr>
  </thead>
  <tbody>
    {% for data in dt_pengaduan %}

    <tr>
      <th>
        <a href="{{url_for('rmahasiswa.detail_pengaduan', ed_id=data.id)}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cursor-fill" viewBox="0 0 16 16">
            <path d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103z"/>
          </svg>
        </a>
        </th>
      <td scope="row">
      <td>{{data.tgl_post}}</td>
      <td>{{data.subjek}}</td>
      <td>{{data.kategori}}</td>
      <td>{{data.detail_pengaduan}}</td>
      <td>{{data.mahasiswa_id}} / {{data.mahasiswa.email}}</td>
    <td>
      <a href="/update/{{data.id}}" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal{{data.id}}">Edit</a>
      <a href="/delete/{{data.id}}" class="btn btn-warning btn-xs" onclick="return confirm ('Apakah Anda Ingin Hapus?')">Hapus</a>

    </td>

  </tr>
    

<!-- Modal -->
<div class="modal fade" id="myModal{{data.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

<!--Modal Konten-->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Data Pengaduan</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="{{url_for('rmahasiswa.update', ed_id=data.id)}}" method="POST">

          <div class="form-group">
            <label>Subjek</label>
            <input type="hidden" name="id" value="{{data.id}}">
            <input type="text" class="form control" name ="subjek" value="{{data.subjek}}">
          </div>

          <div class="form-group">
            <label>Kategori</label>
            <input type="text" class="form control" name ="kategori" value="{{data.kategori}}">
          </div>

          <div class="form-group">
            <label>Detail Pengaduan</label>
            <input type="text" class="form control" name ="detail_pengaduan" value="{{data.detail_pengaduan}}">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info">Simpan</button>
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-warning">Close</button>
          </div>

      </div>
    </div>
  </div>
</div>
</form>
</tbody>

<!-- awal detail pengaduan -->
<div class="modal fade" id="myDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog"></div>

    <!--modal konten-->
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">Detail Data Mahasiswa</h5>
    </div>

    <div class="modal-body">
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label>Npm</label>
          </div>
          <div class="form-group">
            <label>Nama</label>
          </div>
          <div class="form-group">
            <label>Kelas</label>
          </div>
          <div class="form-group">
            <label>Alamat</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>: {{data.mahasiswa.npm}}</label>
          </div>
          <div class="form-group">
            <label>: {{data.mahasiswa.nama}}</label>
          </div>
          <div class="form-group">
            <label>: {{data.mahasiswa.kelas}}</label>
          </div>
          <div class="form-group">
            <label>: {{data.mahasiswa.alamat}}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-header">
      <h4>Detail Data Pengaduan</h4>
    </div>

    <div class="modal-body">
      <div class="row">

        <div class="col-md-6">
          <div class="form-group">
            <label>Subjek</label>
          </div>
          <div class="form-group">
            <label>Kategori</label>
          </div>
          <div class="form-group">
            <label>Detail Pengaduan</label>
          </div>
          <div class="form-group">
            <label>Tgl Post</label>
          </div>
          <div class="form-group">
            <label>Id Mahasiswa</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>: {{data.subjek}}</label>
          </div>
          <div class="form-group">
            <label>: {{data.kategori}}</label>
          </div>
          <div class="form-group">
            <label>: {{data.detail_pengaduan}}</label>
          </div>
          <div class="form-group">
            <label>: {{data.tgl_post}}</label>
          </div>
          <div class="form-group">
            <label>: {{data.mahasiswa_id}}</label>
          </div>
        </div>
      </div>
    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>

        </div>
      </div>
      </div>
    </div>
  </div>
</div>
        
<!-- akhir detail pengaduan -->


      {% endfor %}
    

    

</table>
    
    {%endblock%}                                                                                                                           